<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <title>Dall-e</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'salon/assets/scss/style.scss' %}">
</head>

<body>
    <main class="grid-item main">
        <div class="items">
          <div class="item item1">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item2">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item3">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item4">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item5">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item6">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item7">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item8">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
          <div class="item item9">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
            </div>
          <div class="item item10">
            <img src="/static/salon/assets/images/sea.jpg" alt="로고">
          </div>
        </div>
    </main>
    <script src="{% static 'salon/assets/js/scroll.js' %}"></script>
</body>
</html>
